.settings{
    left: 0;
    position: absolute;
    top: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
    .button{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1.2rem 2rem;
        border: none;
        text-align: start;
        background-color: transparent;
        span{
            font-weight: 400;
        }
    }
}