@import '@/styles/abstract/variaveis.scss';

.title{
    font-size: 2rem;
    font-weight: bold;
    padding: 1.35rem 2rem;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    text-align: center;
}
.select{
    height: .4rem;
    width: 6rem;
    border-radius: 10rem;
    position: absolute;
    background-color: rgb(68, 180, 235);
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}