$tamanho-da-fonte: 1.6rem;
$texto-grande: 2.4rem;
$texto-pequeno: 1.4rem;
$cor-da-letra: rgb(15, 20, 25);
$cor-principal: rgb(247, 249, 249);
$cor-hover: rgb(220, 220, 220);
$cor-secundaria: white;
$cor-texto-claro: rgb(83, 100, 113);
$cor-azul: rgb(68, 180, 235);
$cor-azul-claro: rgba(68, 180, 235, .2);
$cor-rosa: rgb(249, 24, 128);
$cor-rosa-claro: rgba(249, 24, 128, .2);