$tamanho-da-fonte: 1.6rem;
$texto-grande: 2.4rem;
$texto-pequeno: 1.4rem;
$cor-da-letra: black;
$cor-principal: rgb(240,240,240);
$cor-secundaria: white;
$cor-terciaria: #8F43EE;
$cor-texto-claro: gray;
$cor-azul: rgb(68, 180, 235);
$cor-azul-claro: rgba(68, 180, 235, .2);
$cor-rosa: rgb(249, 24, 128);
$cor-rosa-claro: rgba(249, 24, 128, .2);