@import '@/styles/abstract/variaveis.scss';

.container{
    padding-left: 3.2rem;
    min-width: 35.2rem;
    .fixed{
        position: fixed;
        top: .8rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

@media screen and (max-width: 1076px) {
    .container{
        min-width: 29.2rem;
        padding-right: 3.2rem;
    }
}

@media screen and (max-width: 1016px) {
    .container{
        display: none;
    }
}