@import '@/styles/abstract/variaveis.scss';

.autenticacao{
    position: relative;
    background-color: $cor-principal;
    .divisor, .divisorMob{
        top: 0;
        display: grid;
        place-items: center;
        z-index: 100;
        width: 50%;
        transition: .42s;
        background-color: $cor-azul;
        height: 100vh;
        position: absolute;
        .image{
            width: 20vw;
            height: 20vw;
        }
    }
    .divisorMob{
        display: none;
        width: 100%;
        animation: mob 1s 1.4s both;
        .image{
            animation: imageMob 1s;
        }
    }
    .lk{  
        border-radius: 10rem;
        height: 6.4rem;
        width: 6.4rem;
        position: fixed;
        top: 2rem;
        left: 2rem;
        display: none;
        place-items: center;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        &:hover{
            background-color: $cor-principal;
        }
        .image{
            height: 4rem;
            width: 4rem;
        }
    }
}

@keyframes imageMob{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes mob{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        z-index: -1;
    }
}


@media screen and (max-width:800px) {
    .autenticacao{
        .divisor{
            display: none;
        }
        .divisorMob{
            display: grid;
        }
        .lk{
            display: grid;
        }
    }   
}