@import '@/styles/abstract/variaveis.scss';

.moreComponent{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    left: 0;
    align-items: center;
    bottom: 0;
    background-color: $cor-secundaria;
    border-radius: 2rem;
    width: 34rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    .linha{
        width: 90%;
        height: .1rem;
        background-color: $cor-texto-claro;
        margin: .4rem;
    }
    .button{
        display: flex;
        outline: none;
        align-items: center;
        gap: 1.2rem;
        font-weight: bold;
        width: 100%;
        text-align: start;
        padding: 1.6rem;
        background-color: transparent;
        border: none;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Source Sans Pro', sans-serif;
        .type{
            font-size: 2rem;
        }
        cursor: pointer;
        &:hover{
            background-color: $cor-principal;
        }
        .icon{
            height: 1.8rem;
            width: 1.8rem;
        }
        .arrow{
            height: 2rem;
            width: 2rem;
            color: $cor-azul;
            transition: .42s;
        }
    }
    .button:nth-child(1){
        border-radius: 2rem 2rem 0 0;
    }
    .button:nth-child(4){
        justify-content: space-between;
        border-radius: 0 0 2rem 2rem;
        position: relative;
        font-size: $tamanho-da-fonte;
    }
}