@import '@/styles/abstract/variaveis.scss';

.container{
    display: flex;
    justify-content: center;
    background-color: $cor-principal;
    .direita{
        display: flex;
    }
}

@media screen and (max-width: 668px){
    .container{
        justify-content: space-between;
    }
}