@import '@/styles/abstract/variaveis.scss';

.container{
    display: flex;
    flex-direction: column;
    width: 28rem;
    height: 100vh;
    z-index: 3;
    background-color: $cor-secundaria;
    position: absolute;
    left: 0;
    top: 0;
    .top{
        padding: 2rem;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        .title{
            display: inline-block;
            font-weight: bold;
            font-size: 2rem;
        }
        .icon{
            height: 2.4rem;
            width: 2.4rem;
        }
    }
    .userInfo{
        padding: 0rem 2rem;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        font-size: $tamanho-da-fonte;
        .home{
            width: 4rem;
            height: 4rem;
            .foto{
                height: 4rem;
                width: 4rem;
                border-radius: 10rem;
                object-fit: cover;
            }
            .fotoDefault{
                height: 4rem;
                width: 4rem;
                border-radius: 10rem;
                background-color: $cor-texto-claro;
            }
        }
        .name, .username{
            display: flex;
        }
        .name{
            font-weight: bold;
            font-size: 1.8rem;
        }
        .username{
            color: $cor-texto-claro;
            font-weight: 400;
        }
        .seguidores{
            display: flex;
            gap: 1rem;
            .flwing, .flwers{  
                display: flex;
                gap: .4rem;
                text-decoration: none;
                span{
                    color: $cor-da-letra;
                    display: flex;
                    font-weight: 400;
                }
                span:nth-child(2){
                    color: $cor-texto-claro;
                }
            }
        }
    }
    .link{
        display: flex;
        color: $cor-da-letra;
        text-decoration: none;
        font-size: 2rem;
        gap: 1rem;
        position: relative;
        align-items: center;
        padding: 2rem;
        &:hover{
            background-color: $cor-principal;
        }
        .icon{
            height: 2.4rem;
            width: 2.4rem;
        }
        span{
            display: flex;
            font-weight: bold;
        }
    }
    .linha{
        margin: .4rem 2rem;
        height: .1rem;
        background-color: $cor-texto-claro;
    }
    .button, .buttonLogout{
        background-color: transparent;
        border: none;
        text-align: start;
        padding: 2rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Source Sans Pro', sans-serif;
        &:hover{
            background-color: $cor-principal;
        }
        .icon{
            height: 2.4rem;
            width: 2.4rem;
        }
        span{
            display: flex;
            font-size: 2rem;
            font-weight: bold;
        }
    }
    .buttonLogout{
        color: red;
    }
    .settings{
        padding: 1.2rem 2rem;
        border: none;
        position: relative;
        align-items: center;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        span{
            font-weight: bold;
            display: flex;
        }
        .icon{
            color: $cor-azul;
            height: 2rem;
            width: 2rem;
            transition: .42s;
        }
    }
}