@import '@/styles/abstract/variaveis.scss';

.copy{
    position: absolute;
    width: 12rem;
    top: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    color: white;
    padding: .2rem 2rem;
    border-radius: .8rem;
    background-color: $cor-azul;
    .direct{
        position: absolute;
        height: 1.2rem;
        width: 1.2rem;
        top: -.2rem;
        left: .8rem;
        rotate: (135deg);
        border-radius: .2rem;
        background-color: $cor-azul;
    }
}