@import '@/styles/abstract/variaveis.scss';

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
    flex-direction: column;
    .para{
        color: $cor-texto-claro;
        .link{
            color: $cor-da-letra;
            font-weight: bold;
        }
    }
}

@media screen and (max-width:500px){
    .container{
        .image{
            width: 80vw;
        }
    }
}