@import '@/styles/abstract/variaveis.scss';

.bannerDiv{
    position: relative;
    height: 30rem;
    .banner{
        object-fit: cover;
        height: 24rem;
        width: 100%;
    }
    .bannerDefault{
        height: 24rem;
        width: 100%;
        background-color: $cor-texto-claro;
    }
}
