@import '@/styles/abstract/variaveis.scss';

.explore{
    padding: .8rem 2rem;
}
.buttonsExplore{
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: .9fr 1.1fr .8fr .9fr 1.3fr;
    .select{
        height: .4rem;
        width: 6rem;
        border-radius: 10rem;
        position: absolute;
        background-color: rgb(68, 180, 235);
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}
    
