@import '@/styles/abstract/variaveis.scss';

.pesquisa{
    width: 32rem;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    border: .1rem solid transparent;
    height: 4rem;
    background-color: $cor-secundaria;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    &:focus-within {
        border: .1rem solid $cor-azul;
        label{
            .icon{
                color: $cor-azul;
            }
        }
    }
    label{
        padding: 1.5rem;
        .icon{
            display: flex;
            align-items: center;
            color: gray;
            height: 1.6rem;
            width: 1.6rem;
        }
    }
    input{
        outline: none;
        height: 100%;
        width: 100%;
        border: none;
        padding: 0 .4rem;
        border-radius: 2rem;
    }
}