@import '@/styles/abstract/variaveis.scss';

.button{
    position: absolute;
    right: 2rem;
    font-size: $texto-pequeno;
    top: 32rem;
    background-color: transparent;
    border: .1rem solid;
    padding: .8rem 1.6rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10rem;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    &:hover{
        background-color: $cor-principal;
    }
}