@import '@/styles/abstract/variaveis.scss';


.buttons{
    display: flex;
    position: relative;
}
.button{
    display: none;
}
.label{
    padding: 1.6rem;
    width: 100%;
    cursor: pointer;
    &:hover{
        background-color: $cor-principal;
    }
}
